body {
    color: whitesmoke;
    font-family: "Avenir Next";

}

li {
    list-style: none;
}

.menu {
    height: 90px;
    background-color: #002E6D;
    color: #fff;
}

.menu-logo {
    float: left;
    padding: 20px 40px;
    font-weight: bold;
    font-size: 36px;
}

.menu-list-item {
    float: left;
    padding: 33px 20px;
}

.main {
    padding: 20px 30px;
    color: black;
}

.copy-container h1 {
    font-size: 100px;
    margin-bottom: 0;
}

.copy-container h2 {
    font-size: 60px;
}

.copy-container span{
    color: darkred;
}

.contents {
    margin-top: 20px;
    text-align: center;
    margin-bottom: 20px;
}

.section-title {
    border-bottom: 2px solid #dee7ec;
    padding-bottom: 15px;
    margin-bottom: 20px;
}

.contents-item {
    float: left;
    margin-right: 30px;
}

.contents-item p {
    font-size: 20px;
}

.contact-form {
    padding-top: 100px;
}

/* Add CSS for <input> and <textarea> tags */
.contact-form input, textarea {
    width: 400px;
    margin-top: 10px;
    margin-bottom: 30px;
    padding: 20px;
    font-size: 18px;
    border: 1px solid #dee7ec;
}

/* Add CSS for contact-submit */
.contact-submit {
    background-color: #dee7ec;
    color: #889eab;
}

.footer {
    background-color: #2f5167;
    color: #fff;
    height: 120px;
    padding: 40px;
}

.footer-logo {
    float: left;
    font-size: 30px;
    padding: 45px 20px;
}

.footer-list {
    float: right;
    font-size: 20px;
}

.footer-list li {
    margin-right: 20px;
    margin-bottom: 2px;
    border-left: 2px solid #fff;
    padding: 5px;
}

.footer-list li:hover {
    background-color: #ffffff;
    color: #2f5167;
}
