/* Reset CSS (DO NOT DELETE) */
html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p, div {
    margin: 0;
    padding: 0;
}


body {
    font-family: "Lucida Grande";
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

*{
    box-sizing: border-box;
}

/* Write your code below */
header {
    background-color: rgba(34, 49, 52, .9);
    position: fixed;
    top: 0;
    z-index: 10;
    width: 100%;
    height: 65px;
}

.logo {
    float: left;
    margin-top: 13px;
    margin-bottom: 13px;
    height: 40px;
    /*width: 50px*/
}

.login {
    float: right;
    background-color: rgba(255, 255, 255, .3);
    cursor: pointer;
    line-height: 65px;
    padding: 0px 25px;
}

.login a {
    display: block;
    color: #fff;
}

.login:hover {
    background-color: rgba(255, 255, 255, .5);
    transition: all .5s;
}


.top-wrapper {
    padding: 180px 0 100px 0;
    background-image: url(https://prog-8.com/images/html/advanced/top_en.png);
    background-size: cover;
    color: white;
    text-align: center;
}

.container {
    max-width: 1170px;
    width: 97%;
    margin: 0 auto;
}

.header-text h1 {
    opacity: 0.7;
    font-size: 45px;
    letter-spacing: 5px;
    margin-bottom: 10px;
}

.header-text p {
    opacity: 0.7;
    margin-bottom: 3px;
}

.btn-wrapper {
    margin: 20px 0;
}

.btn-wrapper p {
    margin: 10px 0;
}

.signup {
    background-color: #239b76;
}

.facebook {
    background-color: #3b5998;
    margin-right: 10px;
}

.twitter {
    background-color: #55acee;
}

.btn {
    padding: 12px 24px;
    color: white;
    display: inline-block;
    opacity: 0.8;
    border-radius: 4px;
}

.btn:hover {
    opacity: 1;
}

.fa {
    margin-right: 5px;
}

.lesson-wrapper {
    text-align: center;
    padding: 60px 0;
    /*margin-bottom: 80px;*/
    background-color: #f7f7f7;
}

.lessons-header h2 {
    font-size: 25px;
    color: #5f5d60;
    font-weight: normal;
}

.lesson {
    width: 25%;
    padding-top: 30px;

}

.lesson-body{
    display: flex;
    flex-direction: row;
}

.lesson-icon {
    position: relative;
}

.lesson-icon p {
    position: absolute;
    color: #fff;
    top: 90px;
    width: 100%;
}

.course_description {
    width: 80%;
    display: inline-block;
    color: #b3aeb5;
    font-size: 15px;
}



.footer-wrapper {
    margin-top: 60px;
    margin-bottom: 80px;
    text-align: center
}

.heading h2, h3 {
    font-weight: normal;
    color: #5f5d60;
}


.learn-btn a {
    margin-top: 30px;
    padding: 15px 40px;
    background-color: #5dca88;
    display: inline-block;
    color: #fff;
    box-shadow: 0 7px #1a7940;
    opacity: .8;
}

.learn-btn a:hover {
    opacity: 1;
}

.learn-btn a:active {
    position: relative;
    top: 7px;
    box-shadow: none;
}


footer {
    border-top: 1px solid #eee;
    margin-bottom: 7px;
}

.footer-icon {
    margin-top: 20px;
}

.footer-icon img {
    height: 35px;
}

.footer-icon p {
    color: #b3aeb5;
    font-size: 12px;
}

