/* Reset CSS (DO NOT DELETE) */
html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p,
form, input, div {
    margin: 0;
    padding: 0;
}

body {
    font-family: Verdana;
}

li {
    list-style: none;
}

/* Write your code below */
header {
    background-color: rgba(34, 49, 52, 0.9);;
    color: #fff;
    height: 90px;
    position: fixed;
    top: 0;
    width: 100%;
}

.header-container {
    margin: 0 40px;
}

.nav-logo {
    float: left;
}

.nav-logo p {
    padding: 20px 40px;
    font-size: 36px;
}

.nav-list li {
    float: right;
    padding: 33px 20px;
}

.main {
    margin: 0 80px;
}

.main-header {
    margin: 100px 0;
}

.main-header h1 {
    font-size: 100px;
}

.main-header h2 {
    font-size: 40px;
}

.main-header span {
    color: #ff4a4a;
}

.lessons {
    margin-bottom: 100px;
    height: 500px;
    text-align: center;
}

.div-header {
    font-size: 28px;
    border-bottom: 2px solid #dee7ec;
    padding-bottom: 15px;
    margin-bottom: 50px;
}

.lesson {
    float: left;
}

.lesson img {
    margin-right: 10px;
    margin-bottom: 30px;
}

.lesson p {
    font-size: 24px;
}

.contact {
    margin-bottom: 100px;
    text-align: center;
}


.contact-form input, textarea {
    width: 600px;
    margin-top: 10px;
    margin-bottom: 30px;
    padding: 20px;
    font-size: 18px;
    border: 1px solid #dee7ec;
}

.feedback-button {
    font-size: 18px;
    color: #889eab;
    background-color: #dee7ec;
}

footer {
    background-color: #2f5167;
    height: 160px;
    color: #fff;
}

.container {
    padding: 40px 40px
}

.logo p {
    font-size: 32px;
    float: left;
}

.footer-list {
    float: right;
}

.footer-list li {
    margin-bottom: 20px;
}



